[Unit]
Description=Photo library ASP.NET service
[Service]
Type=simple
ExecStart=/home/pi/projects/photo-library/backend/PhotoLibraryBackend
WorkingDirectory=/home/pi/projects/photo-library/backend
User=pi
Group=pi
Restart=on-failure
RestartSec=10
KillMode=process
[Install]
WantedBy=multi-user.target