[Unit]
Description=Photo library ASP.NET service
[Service]
Type=simple
ExecStart=/home/pi/projects/photo-library/publish/PhotoLibraryBackend
WorkingDirectory=/home/pi/projects/photo-library/publish
Restart=on-failure
RestartSec=10
KillMode=process
[Install]
WantedBy=multi-user.target